<div
  class="slideshow-wrap"
  data-autoplay="{{ section.settings.autoplay }}"
  data-autoplay-speed="{{ section.settings.autoplay_speed}}"
>
  {%- for block in section.blocks -%}
    <div class="slide" {{ block.shopify_attributes }}>
      {%- if block.settings.image != blank -%}
        <div class="slide-image">
          <img src="{{ block.settings.image | img_url: '600x' }}" alt="{{ block.settings.image.alt }}">
        </div>
      {%- endif -%}
      <div class="slide-content">
        <h1>{{ block.settings.title }}</h1>

        {%- if block.settings.content != blank -%}
          <p>{{ block.settings.content }}</p>
        {%- endif -%}

        {%- if block.settings.button_url != blank -%}
          <a href="{{ block.settings.button_url }}" class="button"></a>
          {%- if block.settings.button_text != blank -%}
            {{ block.settings.button_text }}
          {%- else -%}
            {{ 'general.shop.shop_now' | t }}
          {%- endif -%}
        {%- endif -%}
      </div>
    </div>
  {%- endfor -%}
</div>

{%- schema -%}
{
  "name": "Slideshow",
  "class": "hero-slideshow",
  "settings": [
    {
      "id": "autoplay",
      "type": "checkbox",
      "label": "autoplay slideshow",
      "default": true
    },
    {
      "id": "autoplay_speed",
      "type": "range",
      "label": "autoplay Speed",
      "min": 2000,
      "max": 8000,
      "step": 500,
      "unit": "ms",
      "default": 5000
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "choose image"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Title",
          "placeholder": "slider Title"
        },
        {
          "id": "content",
          "type": "textarea",
          "label": "Slide content"
        },
        {
          "id": "button_url",
          "type": "url",
          "label": "Button URL"
        },
        {
          "id": "button_text",
          "type": "text",
          "label": "button Text",
          "placeholder": "Shop now",
          "info": "Defaults to \"Shop Now\""
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "hero",
      "name": "Slideshow",
      "settings": {
        "autoplay": true,
        "autoplay_speed": 6500
      },
      "blocks": [
        {
          "type": "slide",
          "settings": {
            "title": "slide 1",
            "content": "Some slide 1 content",
            "button_url": "#",
            "button_text": "Slide button"
          }
        },
        {
          "type": "slide",
          "settings": {
            "title": "slide 2",
            "content": "Some slide 2 content",
            "button_url": "#"
          }
        }
      ]
    }
  ]
}
{%- endschema -%}
